    SUBROUTINE CAB.B.MOVE.INTERBRANCH.SERVICE(ACCT.ID)
    $INCLUDE T24.BP I_COMMON
    $INCLUDE T24.BP I_EQUATE
!!    $INCLUDE T24.BP I_F.AC.SUB.ACCOUNT
    $INCLUDE T24.BP I_F.ACCT.ACTIVITY
    $INCLUDE T24.BP I_F.ACCOUNT
    $INCLUDE CAB.BP I_CAB.B.MOVE.INTERBRANCH.SERVICE.COMMON
    $INCLUDE T24.BP I_F.FUNDS.TRANSFER
    $INCLUDE BP I_F.CAB.CCY.INT.RATE

!!    CALL F.READ(FN.AC.SUB.ACCOUNT,ACCT.ID,SUB.ACCT.REC,F.AC.SUB.ACCOUNT,SUB.ACCT.ERR)

    CALL F.READ(FN.ACCOUNT,ACCT.ID,R.ACCOUNT,F.ACCOUNT,ACCT.ERR)
    IF R.ACCOUNT<AC.CATEGORY> NE '12800' THEN
        RETURN
    END

    CALL F.READ(FN.CAB.CCY.INT.RATE,R.ACCOUNT<AC.CO.CODE>,R.CCY.INT,F.CAB.CCY.INT.RATE,CCY.INT.ERR)
    IF CCY.INT.ERR THEN
        RETURN
    END


    CALL F.READ(FN.AC.SUB.ACCOUNT,ACCT.ID,SUB.ACCT.REC,F.AC.SUB.ACCOUNT,SUB.ACCT.ERR)
    IF SUB.ACCT.REC THEN
        NO.OF.ACCTS = DCOUNT(SUB.ACCT.REC,FM)
        FOR I = 1 TO NO.OF.ACCTS
            Y.AMNT = '' ; Y.AMNT1 = ''
            Y.SUB.ACCT = SUB.ACCT.REC<I>
            IF Y.SUB.ACCT NE '' THEN
                ACTIV.ID = Y.SUB.ACCT : '-' : TODAY[1,6]
                GOSUB GET.ACTIVITY.DETAILS
            END
        NEXT
    END
    RETURN
*********************
GET.ACTIVITY.DETAILS:
*********************
    CALL F.READ(FN.ACCT.ACTIVITY,ACTIV.ID,ACTIVITY.REC,F.ACCT.ACTIVITY,ACTIVIT.ERR)
    IF ACTIVITY.REC THEN
        NO.OF.REC = DCOUNT(ACTIVITY.REC<IC.ACT.BALANCE>,VM)
        FOR J = 1 TO NO.OF.REC
            Y.AMNT = (ACTIVITY.REC<IC.ACT.BALANCE,J> - Y.AMNT) * -1
            IF Y.AMNT EQ '' THEN
                Y.AMNT = '0'
            END
            IF Y.AMNT NE '0' THEN
                V.DATE = TODAY[1,6]:(ACTIVITY.REC<IC.ACT.DAY.NO,J>)
                GOSUB FT.MSG
            END
            Y.AMNT = ACTIVITY.REC<IC.ACT.BALANCE,J>
        NEXT
    END
    RETURN
*******
FT.MSG:
*******
    FT.REC<FT.TRANSACTION.TYPE> = 'AC'
    FT.REC<FT.DEBIT.CURRENCY> = Y.SUB.ACCT[1,3]
    IF Y.AMNT LT 0 THEN
        FT.REC<FT.DEBIT.ACCT.NO> = Y.SUB.ACCT
        FT.REC<FT.CREDIT.ACCT.NO> = ACCT.ID
        FT.REC<FT.DEBIT.AMOUNT> = Y.AMNT * -1
    END ELSE
        FT.REC<FT.DEBIT.AMOUNT> = Y.AMNT
        FT.REC<FT.DEBIT.ACCT.NO> = ACCT.ID
        FT.REC<FT.CREDIT.ACCT.NO> = Y.SUB.ACCT

    END
    FT.REC<FT.ORDERING.CUST> = 'BNK'
    FT.REC<FT.DEBIT.VALUE.DATE> = V.DATE
    FT.REC<FT.CREDIT.VALUE.DATE> = V.DATE

************************
    BRN.CODE = COMP.ID[1,5]:RIGHT(Y.SUB.ACCT,4)
    OFS.VERSION = 'FUNDS.TRANSFER,INP'
    APP.NAME = 'FUNDS.TRANSFER'
    OFS.FUNCTION = 'I'
    NO.OF.AUTH = '0'
    OFSSTRING = ''
    CALL LOAD.COMPANY(BRN.CODE)
    CALL OFS.BUILD.RECORD(APP.NAME,OFS.FUNCTION,'PROCESS',OFS.VERSION,'',NO.OF.AUTH,'',FT.REC,OFSSTRING)

    WRITESEQ OFSSTRING APPEND TO POST.FILE ELSE
    END
!!    OFS.RESPONSE = ''
!!    OFS.COMMITTED = ''
!!    options = ''
!!    options<1> = 'CABPOS'
!!    options<4> = "HLD"
!!    CALL OFS.CALL.BULK.MANAGER(options,OFSSTRING,OFS.RESPONSE,OFS.COMMITTED)

************************
    RETURN
END
